<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
    <link rel="stylesheet" href="users.component.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
</head>
<body>
    <main class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12">
                <table class="table table-striped text-center bg-white">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Function</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Engenheiro de FE</td>
                            <td>mark123@gmail.com</td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-primary"><i class="bi bi-pencil" routerLink="/app/edit-user"></i></button>
                                    <button class="btn btn-danger"><i class="bi bi-x-circle"></i></button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Rafael</td>
                            <td>Analista de dados</td>
                            <td>rafael123@gmail.com</td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-primary"><i class="bi bi-pencil" routerLink="/app/edit-user"></i></button>
                                    <button class="btn btn-danger"><i class="bi bi-x-circle"></i></button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>Lider Técnico</td>
                            <td>larrylarry@gmail.com</td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-primary"><i class="bi bi-pencil" routerLink="/app/edit-user"></i></button>
                                    <button class="btn btn-danger"><i class="bi bi-x-circle"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-10 text-center">
                <button class="btn btn-primary" routerLink="/app/add-user">New</button>
            </div>
        </div>
    </main>
</body>
</html>
