<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <link rel="stylesheet" href="edit-user.component.css">
</head>
<body>
    <div class="container">
        <form class="formulario">
            <h1>Editar usuário</h1>

            <div class="dados">
                <label for="validationDefault01" class="form-label">Nome</label>
                <input type="text" class="form-control" id="validationDefault01" [(ngModel)]="salvar.name" [ngModelOptions]="{standalone: true}" required>
            </div>

            <div class="dados">
                <label for="validationDefault02" class="form-label">Sobrenome</label>
                <input type="text" class="form-control" id="validationDefault02" [(ngModel)]="salvar.sobrenome" [ngModelOptions]="{standalone: true}" required>
            </div>

            <div class="dados">
                <label for="validationDefaultUsername" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="validationDefaultUsername" [(ngModel)]="salvar.email" [ngModelOptions]="{standalone: true}" required>
            </div>

            <div class="dados">
                <label for="inputPassword5" class="form-label">Senha</label>
                <input type="password" class="form-control" id="inputPassword5" aria-describedby="passwordHelpBlock" required>
                <div id="passwordHelpBlock" class="form-text">
                    Sua senha deve ter no mínimo 6 dígitos e no máximo 15.
                </div>
            </div>

            <div class="dados">
                <label for="validationDefault04" class="form-label">Função</label>
                <select class="form-select" id="validationDefault04" required>
                    <option selected disabled value="">Selecione</option>
                    <option>Engenheiro de FE</option>
                    <option>Engenheiro de BE</option>
                    <option>Analista de dados</option>
                    <option>Lider Técnico</option>
                </select>
            </div>

            <div class="d-flex justify-content-center mt-5">
                <button class="btn btn-primary" type="button" routerLink="/app/users" (click)="save()">Salvar</button> 
            </div>
        </form>
    </div>
</body>
</html>
