<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="welcome.component.css">
</head>
<body>
    <div class="container">
        <header>
        </header>
        <section class="usuarios">
            <div class="total-users">
                <h5>Usuários Cadastrados</h5>
                <p class="count"></p>
            </div>
        </section>
        <section class="user-roles">
            <h5>Quantidade de Usuários por Funções</h5>
            <table>
                <thead>
                    <tr>
                        <th>Função</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Engenheiro de FE</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Engenheiro de BE</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Analista de dados</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Lider Técnico</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</body>
</html>
